*{
     margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;

}
.container{
    width:100% ;
     /* height: 100vh;  */
    background-image: url(images/i.jpg);
    background-position: center;
    background-size: cover;
    padding:0.7% ;
    color: #fff; 


}
nav{
    width: 100%;
    padding:20px 0px ;
    display:flex ;
    align-items: center;
}
.logo{
    width: 10%;
    cursor: pointer;

}
nav ul{
    flex: 1;

}
nav ul li{
    display: inline-block;
    margin: 10px;

}
nav ul li a{
    color: #fff;
    text-decoration: none;
}
nav .btn{
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding:10px 30px ;
    border-radius: 10px;
    background-color: green;
} 
.high{
    color: lightgreen;
}
.cry{
    color: lightseagreen;
}
.content .btn{
    display: inline-block;
    margin-top: 30px;
    background-color:greenyellow ;
    color: black;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 10px;



} 
.green {
    border: 2px solid greenyellow;
    padding: 10px;
   background-color: greenyellow;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-weight: bold;
   
}

.green ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.green li {
    margin: 0 10px;
}

.buy{
    display: flex;
    justify-content: space-between;
}

.mo{
    color: aquamarine;
}
.View{
    color: aquamarine;
}

/* .set {
    
   
    justify-content: space-between;
    align-items: center;
    color:white;
    font-weight: bold;
   
}

.set ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
     margin-left: 20%;
    align-items: center;gap: 8em;
  
}

.set li {
    margin: 0 10px;
}

.d{
    width: 30px;
    height: 50%;
    margin-left: 10%;
    
}
.e{
    width: 50px;
    height: 70%;
}

.btni{
   padding: 12px;
    height: 50px;
    width: 80px;
    border-radius:20px ;
    background:lightcoral ;
    color: white;
    margin-left: -70%;
}

.btc {
    
/*    
    justify-content: space-between; */
    /* align-items: center;
    color:white;
    font-weight: bold;
   gap: 10em;
  margin-left: -20%;
   
}
     */ 

     .sets{
        display: grid;
        grid-template-columns: repeat(5,1fr);
     }

     .d{
        width: 30px;
        height: 50%;
        margin-left: 10%;
        
    }

    .e{
        width: 50px;
        height: 70%;
    }
.second{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}  
.btni{
    padding: 12px;
     height: 50px;
     width: 80px;
     border-radius:20px ;
     background:lightcoral ;
     color: white;
    
 }  

 .third{
    display: grid;
    grid-template-columns: repeat(5,1fr);
 }

 .btnz{
    padding: 12px;
     height: 50px;
     width: 80px;
     border-radius:20px ;
     color:black;
    
 }  
 .forth{
    display: grid;
    grid-template-columns: repeat(5,1fr);
 }

 .fifth{
    display: grid;
    grid-template-columns: repeat(5,1fr);
 }

 .sixth{
    display: grid;
    grid-template-columns: repeat(5,1fr); 
 }

 .seventh{
    display: grid;
    grid-template-columns: repeat(5,1fr); 
    
 }
 .eight{
    display: grid;
    grid-template-columns: repeat(5,1fr); 
 }

 .Assests{
    width: 90%;
    margin-top: 1%;
    font-size: 1.2rem;
    border-collapse: collapse;
    margin-left: 2%;
    background: radial-gradient( #000124, #1A1A1A);
    border-radius: 11px;
    box-shadow: 0 10px 30px rgb(0, 0, 0,0.5);
    margin-bottom: 10%;
   

 }

 .wallet{
    width: 20%;
    border-radius: 50px;
    margin-left: 70px;
 }
 .Easy{
    color: #D6D6D6;
    height: 290px;
    width: 280px;
    background-color:black;
    border: 2px solid lightseagreen;
    border-radius: 11px;
    font-size: 1rem;
    padding: 2%;
 }

 .go{
    width: 30%;
    border-radius: 50px;
    margin-left: 70px;
 }

 .better{
    color: #D6D6D6;
    height: 290px;
    width: 280px;
    background-color:black;
    border: 2px solid lightseagreen;
    border-radius: 11px;
    font-size: 1rem;
    padding: 2%;
 }

 .fault{
    color: #D6D6D6;
    height: 290px;
    width: 280px;
    background-color:black;
    border: 2px solid lightseagreen;
    border-radius: 11px;
    font-size: 1rem;
    padding: 2%; 
    margin-left:330px ;
    margin-top: -420px;

 }

 .tick{
    width: 20%;
    border-radius: 50px;
    margin-left: 70px;
 }

 /* .main{
    display: grid;
    grid-template-columns: repeat(3,1fr); 
    gap: 2%;
 } */
.at{
    display: flex;
}

.for{
    color: #D6D6D6;
    height: 290px;
    width: 280px;
    background-color:black;
    margin-left:50px ;
    border-radius: 11px;
    font-size: 1rem;
    padding: 2%; 
    margin-top: -420px;

}

.use{
   font-size: 40px;
   font-weight: bold;
}

.now{
    padding: 12px;
     height: 50px;
     width: 100px;
     border-radius:10px ;
     color:black;
     background-color: greenyellow;
}
.in{
    color: greenyellow;
}

.ex{
    padding: 12px;
    color: greenyellow;
    border-color: greenyellow;
    border-radius: 10px;
    background-color: black;

}
.plus{
    
        color: #D6D6D6;
        height: 290px;
        width: 280px;
        background-color:blue;
        border: 2px solid blue;
        border-radius: 11px;
        font-size: 1rem;
        padding: 2%;
}

.pi{
    margin-bottom: 210px;
}
.h2.pi{
    margin-top: 20px;
}
.drop{
    margin-bottom: 210px;
}
.m{
    
        color: #D6D6D6;
        height: 290px;
        width: 280px;
        background-color: palevioletred;
        border: 2px solid palevioletred;
        border-radius: 11px;
        font-size: 1rem;
        padding: 2%;
        margin-top: -200px;
        margin-left: 120px;
}
.inn{
display: grid;
grid-template-columns: repeat(3,1fr);
}
i .bx .bx-hide{
width: 100px;
}

.clarity{
    display: grid;
grid-template-columns: repeat(2,1fr);
}
.po{
color: black;
margin-left: 600px;
margin-top: -150px;
}
.exi{
   
        padding: 12px;
        color: greenyellow;
        border-color: wheat;
        border-radius: 10px;
        background-color: black;
     
}
.exy{
   
   
        padding: 12px;
        color: greenyellow;
        border-color: wheat;
        border-radius: 10px;
        background-color: black;
        margin-left: 10px;
     
}

.trade{
    color: greenyellow;
}
.ent{
    padding: 12px;
    color: greenyellow;
    border-color: wheat;
    border-radius: 10px;
    background-color: black;
    margin-left: 10px;
 
}
.ready{
    width: 70%;
    margin-top: 1%;
    font-size: 1.2rem;
    border-collapse: collapse;
    margin-left: 18%;
    background: radial-gradient( #000124, #1A1A1A);
    border-radius: 11px;
    box-shadow: 0 10px 30px rgb(0, 0, 0,0.5);
    margin-bottom: 20%;
padding: 16px 24px;
    text-align: left;
    color: #D6D6D6;
    font-weight: 600;
}



